*,html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html,body{
    height:100%;
    width:100%;
}

.video-background{
    height: 100%;
    width:100%;
    object-fit: cover;
}
.main{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 3;
}
.container{
    position:relative;
    height:100%;
    width:100%;
}
.play{
    position:absolute;
    left: 550px;
    top: 400px;
    color: #ffffff00;
    z-index: 10;
}
#play-svg{
    cursor: pointer;
}
.play-svg{
    width:600px;
    height: auto;
}


#play-button{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
}

.btn{
    padding: 10px 25px;
    border: 1px solid #ffffff;
    text-decoration: none;
    color:rgb(82, 82, 82);
    border-radius: 10px;
}
.btn-primary{
    background-color: #277FCD!important;
    color: #ffffff!important;
}

/* Wallet Connect */
#wallet-connect{
    position: absolute;
    top:20px;
    right:40px;
}
.wallet-connect{
    position: absolute;
    top:20px;
    right:40px;
}
#wallet-profile-connect{
    position: absolute;
    top:20px;
    right:40px;
}

/* Mint */

.mint-svg{
    width:919px;
    height:auto;
}

.mint{
    position:absolute;
    top:300px;
    left:600px;
    color:#ffffff00;
    z-index: 7;
}

#mint-button{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
}

.market{
    position:absolute;
    top: -50px;
    left: 150px;
    color:#ffffff00;
    z-index: 6;
}

#market-button{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
}
.market-svg{
    width: 800px;
}

/* Wallet Connect Modal */
.wallet-connect-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:20;
    width:30%;
    height:auto;
    border:1px solid #ffffff;
    border-radius: 24px;
    background-color: rgba(232, 248, 253, 0.2);;
    backdrop-filter: blur(30px);
    padding: 30px 30px;
}

.wallet-connect-modal{
    display: none;
}   

#mint-terms-modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#mint-modal{
    position: absolute;
    display:none;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}




/*///////////Media Quries ///////////*/




@media  screen and (min-width: 768px) {
    /*For Big TV's (HD Screens) */
        /* Market start*/
        .market{
            position:absolute;
            top: 0px;
            left: 170px;
            color:#ffffff00;
            z-index: 6;
        }
        
        #market-button{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            display:none;
        }
        .market-svg{
            width: 500px;
            height:auto;
        }
    /* Market end*/
    /* Mint start*/
    .mint-svg{
        width: 400px;
        height:auto;
    }
    
    .mint{
        position:absolute;
        top: 270px;
        left: 550px;
        color:#ffffff00;
        z-index: 7;
    }
    
    #mint-button{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display:none;
    }
    /* Mint start*/
    
    /* Play start*/
    .play{
        position:absolute;
        left: 500px;
        top: 330px;
        color: #ffffff00;
        z-index: 10;
    }
    #play-svg{
        cursor: pointer;
    }
    .play-svg{
        width: 400px;
        height: auto;
    }
    
    
    #play-button{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display:none;
    }
    /* Play end*/
  }



@media screen and (min-width: 1280px) {
    /*For Big TV's (HD Screens) */
        /* Market start*/
        .market{
            position:absolute;
            top: 0px;
            left: 170px;
            color:#ffffff00;
            z-index: 6;
        }
        
        #market-button{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            display:none;
        }
        .market-svg{
            width: 700px;
            height:auto;
        }
    /* Market end*/
    
    /* Mint start*/
    .mint-svg{
        width: 700px;
        height:auto;
    }
    
    .mint{
        position:absolute;
        top: 370px;
        left: 500px;
        color:#ffffff00;
        z-index: 7;
    }
    
    #mint-button{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display:none;
    }
    /* Mint start*/
    
    /* Play start*/
    .play{
        position:absolute;
        left: 600px;
        top: 450px;
        color: #ffffff00;
        z-index: 10;
    }
    #play-svg{
        cursor: pointer;
    }
    .play-svg{
        width: 500px;
        height: auto;
    }
    
    
    #play-button{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display:none;
    }
    /* Play end*/
            
}

@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
     /* Market start*/
     .market{
        position:absolute;
        top: 50px;
        left: 170px;
        color:#ffffff00;
        z-index: 6;
    }
    
    #market-button{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display:none;
    }
    .market-svg{
        width: 800px;
        height:auto;
    }
/* Market end*/

    /* Mint start*/
    .mint-svg{
        width: 700px;
        height:auto;
    }

    .mint{
        position:absolute;
        top: 470px;
        left: 670px;
        color:#ffffff00;
        z-index: 7;
    }

    #mint-button{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display:none;
    }
    /* Mint start*/

    /* Play start*/
    .play{
        position:absolute;
        left: 680px;
        top: 590px;
        color: #ffffff00;
        z-index: 10;
    }
    #play-svg{
        cursor: pointer;
    }
    .play-svg{
        width: 500px;
        height: auto;
    }


    #play-button{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display:none;
    }
    /* Play end*/
}
    
@media screen and (min-width: 1920px) {
    /*For Projectors or Higher Resolution Screens (Full HD)*/
     /* Market start*/
     .market{
        position:absolute;
        top: 0px;
        left: 50px;
        color:#ffffff00;
        z-index: 6;
    }
    
    #market-button{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display:none;
    }
    .market-svg{
        width: 1100px;
        
    }
/* Market end*/

/* Mint start*/
.mint-svg{
    width: 1200px;
}

.mint{
    position:absolute;
    top: 550px;
    left: 400px;
    color:#ffffff00;
    z-index: 7;
}

#mint-button{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
}
/* Mint start*/

/* Play start*/
/* Play start*/
.play{
    position:absolute;
    left: 750px;
    top: 700px;
    color: #ffffff00;
    z-index: 10;
}
#play-svg{
    cursor: pointer;
}
.play-svg{
    width: 500px;
    height: auto;
}


#play-button{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
}
/* Play end*/
/* Play end*/
}



@media screen and (min-width: 3840px) {
    /*For 4K Displays (Ultra HD)*/
     /* Market start*/
     .market{
        position:absolute;
        top: 0px;
        left: -500px;
        color:#ffffff00;
        z-index: 6;
    }
    
    #market-button{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display:none;
    }
    .market-svg{
        width: 2100px;
        
    }
/* Market end*/

/* Mint start*/
.mint-svg{
    width: 2200px;
}

.mint{
    position:absolute;
    top: 1150px;
    left: 400px;
    color:#ffffff00;
    z-index: 7;
}

#mint-button{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
}
/* Mint start*/

/* Play start*/
/* Play start*/
.play{
    position:absolute;
    left: 550px;
    top: 1350px;
    color: #ffffff00;
    z-index: 10;
}
#play-svg{
    cursor: pointer;
}
.play-svg{
    width: 1500px;
    height: auto;
}


#play-button{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
}
/* Play end*/
/* Play end*/
    
}